
{% extends 'base2.html' %}

{% block title %}Delete Student{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        <h2 class="text-center">Delete Student</h2>
                    </div>
                    <div class="card-body">
                        <h3>Are you sure you want to delete {{ student.name }}?</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
